@using ByS.Inventario.Entities
@model IEnumerable<beOrdenCompra>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info">
    <h4 class="panel-heading">Registrar productos a almacenar</h4>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label col-md-5 col-sm-4 col-xs-12">Fecha Nota Ingreso:</label>
                        <div class="col-md-7 col-sm-8 col-xs-12">
                            <div class="input-group">
                                <input id="txtFechaInicio" name="txtFechaInicio" type="text" class="form-control" value="@DateTime.Now.ToShortDateString()" data-bind="value: FiltroBusqueda.FechaInicio" />
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label col-md-5 col-sm-4 col-xs-12 visible-sm">&nbsp;</label>
                        <div class="col-md-7 col-sm-8 col-xs-12">
                            <div class="input-group">
                                <input id="txtFechaFin" name="txtFechaFin" type="text" class="form-control" value="@DateTime.Now.ToShortDateString()" data-bind="value: FiltroBusqueda.FechaFin" />
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label col-md-5 col-sm-4 col-xs-12">Tipo de documento:</label>
                        <div class="col-md-7 col-sm-8 col-xs-12">
                            @Html.DropDownList("Tipo", (SelectList)ViewBag.TipoDocumento, "--Seleccionar Tipo--", new { id = "Tipo" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-sm">
                        <label class="control-label col-md-3 col-sm-4 col-xs-12">N° Documento:</label>
                        <div class="col-md-9 col-sm-8 col-xs-12">
                            <input id="txtNumero" name="txtNumero" type="text" class="form-control" data-bind="value: FiltroBusqueda.Almacen" />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group form-group-sm">
                        <div class="col-xs-12">
                            <input id="btnFiltrar" type="button" class="btn btn-default btn-sm form-control" value="Buscar">
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">Acciones</th>
                            <th class="text-center">Fecha</th>
                            <th class="text-center">Tipo documento</th>
                            <th class="text-center">Nro. documento</th>
                            <th class="text-center">Estado</th>
                        </tr>
                     </thead>
                    <tbody id="tbDocumento">
                        @foreach (var u in Model)
                        {
                            <tr>
                                <td>
                                    <a title="Internar" href="~/ProductoAlmacenar/@u.Sigla">Internar</a>
                                </td>
                                <td>@u.FechaFormateada</td>
                                <td>@u.Tipo</td>
                                <td>@u.nOrdenCompra</td>
                                <td>@u.EstadoDescripcion</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Producto.js"></script>
