@model IEnumerable<ByS.Inventario.Entities.beNotaIngreso>
@{
    ViewBag.Title = "Nota de Ingreso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-info">
    <h4 class="panel-heading">Lista de Notas de Ingreso</h4>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label col-md-5 col-sm-4 col-xs-12">Fechas Nota Ingreso:</label>
                        <div class="col-md-7 col-sm-8 col-xs-12">
                            <div class="input-group">
                                <input id="txtFechaInicio" name="txtFechaInicio" type="text" class="form-control" value="@DateTime.Now.ToShortDateString()" data-bind="value: FiltroBusqueda.FechaInicio" />
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label col-md-5 col-sm-4 col-xs-12 visible-sm">&nbsp;</label>
                        <div class="col-md-7 col-sm-8 col-xs-12">
                            <div class="input-group">
                                <input id="txtFechaFin" name="txtFechaFin" type="text" class="form-control" value="@DateTime.Now.ToShortDateString()" data-bind="value: FiltroBusqueda.FechaFin" />
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label class="control-label col-md-5 col-sm-4 col-xs-12">N° Nota Ingreso:</label>
                        <div class="col-md-7 col-sm-8 col-xs-12">
                            <input id="txtNumeroNotaIngreso" name="txtNumeroNotaIngreso" type="text" class="form-control" onkeypress="return isNumberKey(this);" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-sm">
                        <label class="control-label col-md-3 col-sm-4 col-xs-12">Proveedor:</label>
                        <div class="col-md-9 col-sm-8 col-xs-12">
                            @Html.DropDownList("Proveedor", (SelectList)ViewBag.Proveedor, "--Seleccionar Proveedor--", new { id = "Proveedor" })
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group form-group-sm">
                        <div class="col-xs-12">
                            <input id="btnFiltrar" type="button" class="btn btn-default btn-sm form-control" value="Buscar">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="col-xs-12">
                            @*<button type="button" class="btn btn-primary"  data-bind="click: $root.NuevaNota">Nuevo</button>*@
                            <a href="~/NotaIngreso/Editar" class="btn btn-primary">Nuevo Registro</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <h2>@ViewBag.Mensaje</h2>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center">Nro Nota Ingreso</th>
                            <th class="text-center">Nro Orden Compra</th>
                            <th class="text-center">Fecha Creación</th>
                            <th class="text-center">Proveedor</th>
                            <th class="text-center">Estado</th>
                        </tr>
                    </thead>
                    <tbody id="tbNotaIngreso">
                        @foreach (var u in Model)
                        {
                            <tr>
                                <td><a title="Editar" href="~/NotaIngreso/Editar/@u.NumeroNotaIngreso"><img src="../../Content/images/editar-icono.png" alt="Editar" title="Editar" /></a>
                                    @if (u.EstadoNotaIngreso == "G")
                                    {
                                    <a title="Eliminar" onclick="return confirm('¿Está seguro de anular?');" href="~/NotaIngreso/Delete/@u.NumeroNotaIngreso"><img src="../../Content/images/eliminar-icono.png" alt="Eliminar" title="Eliminar" /></a>
                                    }
                                </td>
                                <td>@u.NumeroNotaIngreso</td>
                                <td>@u.NumeroOrdenCompra</td>
                                <td>@u.FechaFormateada</td>
                                <td>@u.NombreProveedor</td>
                                <td>@u.EstadoDescripcion</td>
                            </tr>
                        }
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/NotaIngreso.js"></script>
